<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Integration Test Viewer</title>
  <link href="~/Content/bootstrap.css" rel="stylesheet" />
  <style type="text/css">
    body {
      text-align: center;
    }
    p,h1,h2,h3,h4,h5,h6,td,legend {
      text-align:left;
    }
  </style>
  @RenderSection("head", false)
</head>
<body>
  <div class="container">
    @RenderBody()
  </div>
  <script src="~/Scripts/jquery-1.9.0.js"></script>
  <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
